{% extends "base" %}

{% block title %}
New post
{% endblock title %}

{% block content %}
<h1>Create a post</h1>
<form class="new-post" method="post">
    <input type="text" class="title" name="title" placeholder="Title">
    <textarea name="content" placeholder="Content..."></textarea>

    <label for="license">License</label>
    <input type="text" id="licence" name="license" />

    <input type="submit" value="Publish" />            
</form>
{% endblock content %}
