rls
/target
**/*.rs.bk
rls
translations
*.po~
.env
Rocket.toml
!.gitkeep
static
docker-compose.yml
*.db
*.sqlite
*.sqlite3
*.swp
tags.*
!tags.rs
search_index
.buildconfig
__pycache__
.vscode/
*-journal
.direnv/
