[package]
authors = ["Bat' <baptiste@gelez.xyz>"]
name = "plume"
version = "0.2.0"

[dependencies]
activitypub = "0.1.3"
askama_escape = "0.1"
atom_syndication = "0.6"
canapi = "0.2"
colored = "1.6"
dotenv = "0.13"
failure = "0.1"
guid-create = "0.1"
heck = "0.3.0"
num_cpus = "1.0"
rocket = "0.4.0"
rocket_contrib = { version = "0.4.0", features = ["json"] }
rocket_i18n = "0.3.1"
rpassword = "2.0"
scheduled-thread-pool = "0.2.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_qs = "0.4"
validator = "0.8"
validator_derive = "0.8"
webfinger = "0.3.1"

[[bin]]
name = "plume"
path = "src/main.rs"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dependencies.ctrlc]
features = ["termination"]
version = "3.1.1"

[dependencies.diesel]
features = ["r2d2", "chrono"]
version = "*"

[dependencies.multipart]
default-features = false
features = ["server"]
version = "0.15"

[dependencies.plume-api]
path = "plume-api"

[dependencies.plume-common]
path = "plume-common"

[dependencies.plume-models]
path = "plume-models"

[dependencies.rocket_csrf]
git = "https://github.com/fdb-hiroshima/rocket_csrf"
rev = "4a72ea2ec716cb0b26188fb00bccf2ef7d1e031c"

[build-dependencies]
ructe = "0.5.4"
rocket_i18n = { version = "0.3.1", features = ["build"] }

[features]
default = ["postgres"]
postgres = ["plume-models/postgres", "diesel/postgres"]
sqlite = ["plume-models/sqlite", "diesel/sqlite"]

[workspace]
members = ["plume-api", "plume-cli", "plume-models", "plume-common"]
