@use template_utils::*;
@use plume_models::comments::Comment;
@use plume_models::users::User;
@use routes::*;

@(ctx: BaseContext, comm: &Comment, author: User)

<div class="comment u-comment h-cite" id="comment-@comm.id">
    <a class="author u-author h-card" href="@uri!(user::details: name = author.get_fqn(ctx.0))">
        @avatar(ctx.0, &author, Size::Small, true, ctx.1)
        <span class="display-name">@author.name(ctx.0)</span>
        <small>@author.get_fqn(ctx.0)</small>
    </a>
    <a class="u-url" @if let Some(ref ap_url) = comm.ap_url {href="@ap_url"}></a>
    <div class="text p-content p-name">
        @if comm.sensitive {
            <details>
                <summary>@comm.spoiler_text</summary>
        }
        @Html(&comm.content)
        @if comm.sensitive {
            </details>
        }
    </div>
    <a class="button icon icon-message-circle" href="?responding_to=@comm.id">@i18n!(ctx.1, "Respond")</a>
    @for res in comm.get_responses(ctx.0) {
        @:comment(ctx, &res, res.get_author(ctx.0))
    }
</div>
