@use plume_models::posts::Post;
@use template_utils::*;
@use routes::*;

@(ctx: BaseContext, article: Post)

<div class="card h-entry">
    @if article.cover_id.is_some() {
        <div class="cover" style="background-image: url('@Html(article.cover_url(ctx.0).unwrap_or_default())')"></div>
    }
    <h3 class="p-name"><a class="u-url" href="@uri!(posts::details: blog = article.get_blog(ctx.0).get_fqn(ctx.0), slug = &article.slug)">@article.title</a></h3>
    <main>
        <p class="p-summary">@article.subtitle</p>
    </main>
    <p class="author">
        @Html(i18n!(ctx.1, "By {0}"; format!(
            "<a class=\"p-author h-card\" href=\"{}\">{}</a>",
            uri!(user::details: name = article.get_authors(ctx.0)[0].get_fqn(ctx.0)),
            escape(&article.get_authors(ctx.0)[0].name(ctx.0))
        )))
        @if article.published {
	⋅ <span class="dt-published" datetime="@article.creation_date.format("%F %T")">@article.creation_date.format("%B %e, %Y")</span>
        }
        ⋅ <a href="@uri!(blogs::details: name = article.get_blog(ctx.0).get_fqn(ctx.0))">@article.get_blog(ctx.0).title</a>
        @if !article.published {
        ⋅ @i18n!(ctx.1, "Draft")
        }
    </p>
</div>

