[package]
name = "plume-common"
version = "0.1.0"
authors = ["Bat' <baptiste@gelez.xyz>"]

[dependencies]
activitypub = "0.1.1"
activitystreams-derive = "0.1.0"
activitystreams-traits = "0.1.0"
array_tool = "1.0"
base64 = "0.9"
failure = "0.1"
failure_derive = "0.1"
gettext-rs = "0.4"
heck = "0.3.0"
hex = "0.3"
hyper = "*"
openssl = "0.10.6"
reqwest = "0.8"
serde = "*"
serde_derive = "1.0"
serde_json = "1.0"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dependencies.pulldown-cmark]
default-features = false
version = "0.1.2"

[dependencies.rocket]
git = "https://github.com/SergioBenitez/Rocket"
rev = "df7111143e466c18d1f56377a8d9530a5a306aba"
