[package]
name = "plume-common"
version = "0.4.0"
authors = ["Plume contributors"]
edition = "2018"

[dependencies]
activitypub = "0.1.1"
activitystreams-derive = "0.1.1"
activitystreams-traits = "0.1.0"
array_tool = "1.0"
base64 = "0.10"
futures-util = "*"
heck = "0.3.0"
hex = "0.3"
hyper = "0.13"
openssl = "0.10.22"
rocket = { git = "https://github.com/SergioBenitez/Rocket", rev = "async" }
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
shrinkwraprs = "0.2.1"
syntect = "3.3"
tokio = "0.2"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dependencies.pulldown-cmark]
default-features = false
version = "0.2.0"

[dependencies.reqwest]
features = ["json", "blocking"]
version = "0.10"
