/* Color Scheme */
$gray: #f3f3f3;
$black: #242424;
$white: #f8f8f8;
$purple: #7765e3;
$lightpurple: #c2bbee;
$red: #e92f2f;
$yellow: #ffe347;
$green: #23f0c7;

$background: $white;
$form-input-background: white;
$form-input-border: $black;
$text-color: $black;
$primary: $purple;
$primary-text-color: $white; // text color on primary background (buttons for instance)
$success-color: $green;

/* Dimensions */

$article-width: 70ch;
$horizontal-margin: 20%;
$margin: 0 $horizontal-margin;

/* Fonts */

$route159: "Vazir", "Route159", serif;
$playfair: "Vazir", "Playfair Display", serif;
$lora: "Vazir", "Lora", serif;

//Code Highlighting
$code-keyword-color: #45244a;
$code-source-color: #4c588c;
$code-constant-color: scale-color(magenta, $lightness: -5%);
$code-operator-color: scale-color($code-source-color, $lightness: -5%);
$code-string-color: #8a571c;
$code-comment-color: #1c4c8a;
