// Color Scheme
$gray: #F3F3F3;
$black: #242424;
$white: #FDFDFD;
$purple: #7765E3;
$lightpurple: #c2bbee;
$red: #E92F2F;
$yellow: #ffe347;
$green: #23f0c7;

$background: $white;
$form-input-background: white;

// Dimensions

$article-width: 70ch;
$horizontal-margin: 20%;
$margin: 0 $horizontal-margin;

// Fonts

$route159: "Route159", serif;
$playfair: "Playfair Display", serif;
$lora: "Lora", serif;
