// Color Scheme
$background: #F4F4F4;
$form-input-background: #FFFFFF;
$gray: #E3E3E3;
$lightgray: #ECECEC;
$black: #242424;
$white: #F4F4F4;
$purple: #7765E3;
$lightpurple: #c2bbee;
$red: #E92F2F;

// Fonts

$route159: "Route159", serif;
$playfair: "Playfair Display", serif;
$lora: "Lora", serif;
