// Color Scheme
$gray: #F7F7F7;
$black: #242424;
$white: #FDFDFD;
$purple: #7765E3;
$lightpurple: #c2bbee;
$red: #E92F2F;

$background: $white;
$form-input-background: white;

// Dimensions

$article-width: 70ch;

// Fonts

$route159: "Route159", serif;
$playfair: "Playfair Display", serif;
$lora: "Lora", serif;
