/* color palette: https://coolors.co/23f0c7-ef767a-7765e3-6457a6-ffe347 */

@import url('../fonts/Route159/Route159.css');
@import url('../fonts/Lora/Lora.css');
@import url('../fonts/Playfair_Display/PlayfairDisplay.css');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import 'variables';
@import 'global';
@import 'header';
@import 'article';
@import 'forms';

/// Small screens
@media screen and (max-width: 600px) {
 	header {
 		flex-direction: column;
 	}

 	header nav#menu {
 		display: inline-flex;
 	}

 	header #content {
 		display: none;
 		text-align: center;
 	}

 	@keyframes menuOpening {
 		from {
 			transform: scaleX(0);
 			transform-origin: left;
 			opacity: 0;
 		}

 		to {
 			transform: scaleX(1);
 			transform-origin: left;
 			opacity: 1;
 		}
 	}

 	header:focus-within #content, #content.show {
 		position: fixed;
 		display: flex;
 		flex-direction: column;
 		justify-content: flex-start;

 		top: 0;
 		left: 0;
 		width: 100%;
 		height: 100%;
 		box-sizing: border-box;

 		animation: 0.2s menuOpening;
 	}
 	header:focus-within #content::before, #content.show::before {
 		content: "";
 		position: absolute;
 		transform: skewX(-10deg);
 		top: 0;
 		left: -20%;
 		width: 100%;
 		height: 100%;

 		z-index: -10;

 		background: #7765E3;
 	}
 	header:focus-within #content > nav, #content.show > nav {
 		flex-direction: column;
 		align-items: flex-start;
 	}
 	header:focus-within #content > nav a, #content.show > nav a {
 		display: flex;
 		flex-direction: row;
 		align-items: center;
 		margin: 0;
 		padding: 1rem 1.5rem;
 		color: #F4F4F4;
 		font-size: 1.4em;
 		font-weight: 300;
 	}
    header:focus-within #content > nav a > *:first-child,
    #content.show > nav a > *:first-child { width: 3rem; }
    header:focus-within #content > nav a > img:first-child,
    #content.show > nav a > img:first-child { height: 3rem; }
    header:focus-within #content > nav a > *:last-child,
    #content.show > nav a > *:last-child { margin-left: 1rem; }
 	header:focus-within #content > nav a.title, #content.show > nav a.title {
 		font-size: 1.8em;
 	}
 	header:focus-within #content > nav hr, #content.show > nav hr {
 		display: block;
 		margin: 0;
 		width: 100%;
 		border: solid #F4F4F4 0.1rem;
 	}
 	header:focus-within #content > nav a .mobile-label, #content.show > nav a .mobile-label {
 		display: initial;
 	}

 	body > main > * {
 		padding: 0 5%;
 	}
 	main .article-meta > * { margin: 0 5%; }

 	main .article-meta > p {
 		margin: 2em 5%;
 		font-size: 0.9em;
 	}
 	main .article-meta .comments > * { margin-left: 5%; margin-right: 5%; }

 	.card {
 		min-width: 80%;
 		min-height: 80%;
    }

    .tabs {
        margin: auto 0px 2em;
    }

    .stats { flex-direction: column; }
    body > footer {
        flex-direction: column;
        align-items: center;
    }
    body > footer * { margin: 1em auto; }

    .flex.wrap { flex-direction: column; }

    .cards {
    margin: 1rem 0 5rem;
  }
 }
