{% extends "base" %}
{% import "macros" as macros %}

{% block title %}
{{ "New blog" | _ }}
{% endblock title %}

{% block content %}
<h1>{{ "Create a blog" | _ }}</h1>
<form method="post">
    {{ macros::input(name="title", label="Title", errors=errors, form=form) }}

    <input type="submit" value="{{ "Create blog" | _ }}"/>
</form>
{% endblock content %}
