@use rocket_i18n::Catalog;
@use validator::ValidationErrors;
@use templates::base;
@use routes::blogs::NewBlogForm;
@use plume_models::{Connection, users::User};

@(conn: &Connection, catalog: &Catalog, account: Option<User>, form: NewBlogForm, errors: ValidationErrors)

@:base(conn, catalog, account, "New Blog", {}, {}, {
  <h1>@i18n!(catalog, "Create a blog")</h1>
  <form method="post">
      @input!(catalog, title (text), "Title", form, errors, "required minlength=\"1\"")
      <input type="submit" value="@i18n!(catalog, "Create blog")"/>
  </form>
})
