@use validator::ValidationErrors;
@use templates::base;
@use template_utils::*;
@use routes::blogs::NewBlogForm;
@use routes::*;

@(ctx: BaseContext, form: &NewBlogForm, errors: ValidationErrors)

@:base(ctx, i18n!(ctx.1, "New Blog"), {}, {}, {
  <h1 dir="auto">@i18n!(ctx.1, "Create a blog")</h1>
  <form method="post" action="@uri!(blogs::create)">
      @(Input::new("title", i18n!(ctx.1, "Title"))
      		.default(&form.title)
      		.error(&errors)
      		.set_prop("minlength", 1)
      		.to_html(ctx.1))
      <input type="submit" value="@i18n!(ctx.1, "Create blog")" dir="auto"/>
  </form>
})
