{% extends "base" %}

{% block title %}
{{ "New blog" | _ }}
{% endblock title %}

{% block content %}
<h1>{{ "Create a blog" | _ }}</h1>
<form method="post">
    <label for="title">{{ "Title" | _ }}</label>
    <input type="text" id="title" name="title" />
    <input type="submit" value="{{ "Create blog" | _ }}"/>
</form>
{% endblock content %}
