@use validator::ValidationErrors;
@use templates::base;
@use template_utils::*;
@use routes::blogs::NewBlogForm;
@use routes::*;

@(ctx: BaseContext, form: &NewBlogForm, errors: ValidationErrors)

@:base(ctx, i18n!(ctx.1, "New Blog"), {}, {}, {
  <h1 dir="auto">@i18n!(ctx.1, "Create a blog")</h1>
  <form method="post" action="@uri!(blogs::create)">
      @input!(ctx.1, title (text), "Title", form, errors.clone(), "required minlength=\"1\"")
      <input type="submit" value="@i18n!(ctx.1, "Create blog")" dir="auto"/>

      @input!(ctx.1, custom_domain (optional text), "Custom Domain", form, errors, "")
      <input type="submit" value="@i18n!(ctx.1, "Make your blog available under a custom domain")" dir="auto"/>
  </form>
})
