{% extends "base" %}

{% block title %}
New blog
{% endblock title %}

{% block content %}
<h1>Create a blog</h1>
<form method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" />

    <input type="submit" value="Create blog" />            
</form>
{% endblock content %}
