{% extends "errors/base" %}

{% block error %}
    <h1>{{ "Something broke on our side." | _ }}</h1>
    <h2>{{ "Sorry about that. If you think this is a bug, please report it." | _ }}</h2>
{% endblock error %}
