{% extends "base" %}

{% block title %}
{{ error_message }}
{% endblock title %}

{% block content %}
<main class="error">
    {% block error %}
    {% endblock error %}
    <p>
        {{ error_message }}
    </p>
</main>
{% endblock content %}
