@font-face {
    font-family: 'Lora';
    src: url('Lora-Regular.eot');
    src: url('Lora-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lora-Regular.woff2') format('woff2'),
        url('Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-Italic.eot');
    src: url('Lora-Italic.eot?#iefix') format('embedded-opentype'),
        url('Lora-Italic.woff2') format('woff2'),
        url('Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-Bold.eot');
    src: url('Lora-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lora-Bold.woff2') format('woff2'),
        url('Lora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-BoldItalic.eot');
    src: url('Lora-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lora-BoldItalic.woff2') format('woff2'),
        url('Lora-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

