[package]
name = "plume-cli"
version = "0.3.0"
authors = ["Plume contributors"]
edition = "2018"

[[bin]]
name = "plm"
path = "src/main.rs"

[dependencies]
clap = "2.32"
dotenv = "0.13"
rpassword = "2.1"

[dependencies.diesel]
features = ["r2d2", "chrono"]
version = "*"

[dependencies.plume-models]
path = "../plume-models"

[features]
postgres = ["plume-models/postgres", "diesel/postgres"]
sqlite = ["plume-models/sqlite", "diesel/sqlite"]
