@use crate::templates::base;
@use crate::template_utils::*;

@(ctx: BaseContext, now: &str)

@:base(ctx, i18n!(ctx.1, "Search"), {}, {}, {
  <h1>@i18n!(ctx.1, "Search")</h1>
  <form method="get" id="form">
    <input id="q" name="q" placeholder="@i18n!(ctx.1, "Your query")" type="search">
    <details>
        <summary>@i18n!(ctx.1, "Advanced search")</summary>
        @input!(ctx.1, title    (text), "Article title matching these words", &format!("placeholder=\"{}\"", i18n!(ctx.1, "Title")))
        @input!(ctx.1, subtitle (text), "Subtitle matching these words",      &format!("placeholder=\"{}\"", i18n!(ctx.1, "Subtitle - byline")))
        @input!(ctx.1, content  (text), "Content matching these words",       &format!("placeholder=\"{}\"", i18n!(ctx.1, "Body content")))
    	@input!(ctx.1, after    (date), "From this date",                     &format!("max={}", now))
        @input!(ctx.1, before   (date), "To this date",                       &format!("max={}", now))

        @input!(ctx.1, tag      (text), "Containing these tags",             &format!("placeholder=\"{}\"", i18n!(ctx.1, "Tags")))
        @input!(ctx.1, instance (text), "Posted on one of these instances",  &format!("placeholder=\"{}\"", i18n!(ctx.1, "Instance domain")))
        @input!(ctx.1, author   (text), "Posted by one of these authors",    &format!("placeholder=\"{}\"", i18n!(ctx.1, "Authors")))
        @input!(ctx.1, blog     (text), "Posted on one of these blogs",      &format!("placeholder=\"{}\"", i18n!(ctx.1, "Blog title")))
        @input!(ctx.1, lang     (text), "Written in this language",          &format!("placeholder=\"{}\"", i18n!(ctx.1, "Language")))
        @input!(ctx.1, license  (text), "Published under this license",      &format!("placeholder=\"{}\"", i18n!(ctx.1, "Article license")))
    </details>
    <input type="submit" value="@i18n!(ctx.1, "Search")"/>
  </form>
})
