@use templates::base;
@use template_utils::*;
@use routes::*;

@(ctx: BaseContext)

@:base(ctx, i18n!(ctx.1, "Media upload"), {}, {}, {
    <h1>@i18n!(ctx.1, "Media upload")</h1>
    <form method="post" enctype="multipart/form-data" action="@uri!(medias::upload)">
        <label for="alt">
            @i18n!(ctx.1, "Description")
            <small>@i18n!(ctx.1, "Useful for visually impaired people, as well as licensing information")</small>
        </label>
        <input type="text" id="alt" name="alt" required minlenght="1"/>

        <label for="cw">
            @i18n!(ctx.1, "Content warning")
            <small>@i18n!(ctx.1, "Leave it empty if none are needed")</small>
        </label>
        <input type="txt" id="cw" name="cw"/>

        <label for="file">
            @i18n!(ctx.1, "File")
        </label>
        <input type="file" id="file" name="file" required/>

        <input type="submit" value="@i18n!(ctx.1, "Send")"/>
    </form>
})
