@use plume_models::instance::Instance;
@use validator::ValidationErrors;
@use templates::base;
@use template_utils::*;
@use routes::instance::InstanceSettingsForm;
@use routes::*;

@(ctx: BaseContext, instance: Instance, form: InstanceSettingsForm, errors: ValidationErrors)

@:base(ctx, i18n!(ctx.1, "Administration of {0}"; instance.name.clone()), {}, {}, {
  <h1>@i18n!(ctx.1, "Administration")</h1>

  @tabs(&[
    (&uri!(instance::admin).to_string(), i18n!(ctx.1, "Configuration"), true),
    (&uri!(instance::admin_instances: page = _).to_string(), i18n!(ctx.1, "Instances"), false),
    (&uri!(instance::admin_users: page = _).to_string(), i18n!(ctx.1, "Users"), false),
  ])

  <form method="post" action="@uri!(instance::update_settings)">
    @input!(ctx.1, name (text), "Name", form, errors.clone(), "props")

    <label for="open_registrations">
      <input type="checkbox" name="open_registrations" id="open_registrations" @if instance.open_registrations { checked }>
      @i18n!(ctx.1, "Allow anyone to register here")
    </label>

      <label for="short_description">@i18n!(ctx.1, "Short description")<small>@i18n!(ctx.1, "Markdown syntax is supported")</small></label>
      <textarea id="short_description" name="short_description">@Html(form.short_description)</textarea>

      <label for="long_description">@i18n!(ctx.1, "Long description")<small>@i18n!(ctx.1, "Markdown syntax is supported")</small></label>
      <textarea id="long_description" name="long_description">@Html(form.long_description)</textarea>

      @input!(ctx.1, default_license (text), "Default article license", form, errors, "minlenght=\"1\"")

      <input type="submit" value="@i18n!(ctx.1, "Save these settings")"/>
  </form>

  <h2>@i18n!(ctx.1, "Custom themes")</h2>
  <p>@i18n!(ctx.1, "You can upload a CSS file, and people will be able to choose this theme from their settings. If your theme is named 'main.css', it will become the default theme")</p>
  <form method="post" enctype="multipart/form-data" action="@uri!(instance::upload_theme)">
    <input type="file" id="theme" name="theme">
    <input type="submit" value="@i18n!(ctx.1, "Upload")">
  </form>
  <h3>@i18n!(ctx.1, "Available themes")</h3>
  <div class="list">
        @for theme in Instance::list_themes() {
            <div class="card flex compact">
                <p class="grow">@theme</p>
                <form class="inline" method="post" action="@uri!(instance::delete_theme: name = theme)">
                    <input type="submit" value="@i18n!(ctx.1, "Delete")">
                </form>
            </div>
        }
    </div>
})
