{% extends "base" %}

{% block title %}
Configuration
{% endblock title %}

{% block content %}
<h1>Configure your instance</h1>
<form method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />

    <input type="submit" value="Let's go!" />            
</form>
{% endblock content %}
