{% extends "base" %}
{% import "macros" as macros %}

{% block title %}
{{ "All the articles of the Fediverse" | _ }}
{% endblock title %}

{% block content %}
    <h1>{{ "All the articles of the Fediverse" | _ }}</h1>

    <div class="cards">
        {% for article in articles %}
            {{ macros::post_card(article=article) }}
        {% endfor %}
    </div>
    {{ macros::paginate(page=page, total=n_pages) }}
{% endblock content %}
