@use plume_models::instance::Instance;
@use crate::templates::{base, instance::admin_header};
@use crate::template_utils::*;
@use crate::routes::*;

@(ctx: BaseContext, instance: Instance, instances: Vec<Instance>, page: i32, n_pages: i32)

@:base(ctx, i18n!(ctx.1, "Administration of {0}"; instance.name), {}, {}, {
    @:admin_header(ctx, "Instances", (if ctx.2.clone().map(|u| u.is_admin()).unwrap() {2} else {1}))

    <div class="list">
        @for instance in instances {
            <div class="card flex compact">
                <p class="grow">
                    <a href="https://@instance.public_domain">@instance.name</a>
                    <small>@instance.public_domain</small>
                </p>
                @if !instance.local {
                    <form class="inline" method="post" action="@uri!(instance::toggle_block: id = instance.id)">
                        <input type="submit" value="@if instance.blocked { @i18n!(ctx.1, "Unblock") } else { @i18n!(ctx.1, "Block") }">
                    </form>
                }
            </div>
        }
    </div>
    @paginate(ctx.1, page, n_pages)
})
