@font-face
{
  font-family: "Route159";
  font-weight: 200;
  font-style: normal;
  src: url("Route159-UltraLight.woff") format("woff"),
       url("Route159-UltraLight.eot") format("embedded-opentype");
}
@font-face
{
  font-family: "Route159";
  font-weight: 200;
  font-style: italic;
  src: url("Route159-UltraLightItalic.woff") format("woff"),
       url("Route159-UltraLightItalic.eot") format("embedded-opentype");
}

@font-face
{
  font-family: "Route159";
  font-weight: 300;
  font-style: normal;
  src: url("Route159-Light.woff") format("woff"),
       url("Route159-Light.eot") format("embedded-opentype");
}
@font-face
{
  font-family: "Route159";
  font-weight: 300;
  font-style: italic;
  src: url("Route159-LightItalic.woff") format("woff"),
       url("Route159-LightItalic.eot") format("embedded-opentype");
}

@font-face
{
  font-family: "Route159";
  font-weight: normal;
  font-style: normal;
  src: url("Route159-Regular.woff") format("woff"),
       url("Route159-Regular.eot") format("embedded-opentype");
}
@font-face
{
  font-family: "Route159";
  font-weight: normal;
  font-style: italic;
  src: url("Route159-Italic.woff") format("woff"),
       url("Route159-Italic.eot") format("embedded-opentype");
}

@font-face
{
  font-family: "Route159";
  font-weight: 600;
  font-style: normal;
  src: url("Route159-SemiBold.woff") format("woff"),
       url("Route159-SemiBold.eot") format("embedded-opentype");
}
@font-face
{
  font-family: "Route159";
  font-weight: 600;
  font-style: italic;
  src: url("Route159-SemiBoldItalic.woff") format("woff"),
       url("Route159-SemiBoldItalic.eot") format("embedded-opentype");
}

@font-face
{
  font-family: "Route159";
  font-weight: bold;
  font-style: normal;
  src: url("Route159-Bold.woff") format("woff"),
       url("Route159-Bold.eot") format("embedded-opentype");
}
@font-face
{
  font-family: "Route159";
  font-weight: bold;
  font-style: italic;
  src: url("Route159-BoldItalic.woff") format("woff"),
       url("Route159-BoldItalic.eot") format("embedded-opentype");
}

@font-face
{
  font-family: "Route159";
  font-weight: 900;
  font-style: normal;
  src: url("Route159-Heavy.woff") format("woff"),
       url("Route159-Heavy.eot") format("embedded-opentype");
}
@font-face
{
  font-family: "Route159";
  font-weight: 900;
  font-style: italic;
  src: url("Route159-HeavyItalic.woff") format("woff"),
       url("Route159-HeavyItalic.eot") format("embedded-opentype");
}