html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}

a, a:visited {
    color: #7765e3;
    text-decoration: none;
}

header {
    padding: 20px 10%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

header #menu {
    display: none;
}

header nav a {
    margin: 0px 20px;
}

body > main > * {
    padding: 20px 20%;
}

main article {
    font-family: 'Utopia';
    text-align: justify;
}

.inline {
    display: flex;
    align-items: center;
}

.button, input[type="submit"] {
    background: white;
    color: #7765e3;
    border: 1px solid #7765e3;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0px 20px;
    cursor: pointer;
    transition: ease-in 0.2s all;
}

.button:hover, input[type="submit"]:hover {
    background: #7765e399;
    color: white;
}

input[type="submit"] {
    margin: 40px 0px;
}

.article-meta {
    background: #F9F9F9;
}

.inline-block {
    display: inline-block;
    margin: 20px 0px;
}

label {
    display: block;
    margin-top: 20px;
}

input {
    border: none;
    border-bottom: 1px solid #DADADA;
    display: block;
    margin: 10px 0px;
    padding: 5px;
    width: 50%;
}

textarea {
    width: 100%;
    min-height: 200px;
    resize: vertical;
    font-family: 'Utopia';
    padding: 5px;
}

.badge {
    font-size: 12pt;
    background: white;
    color: #7765e3;
    border: 1px solid #7765e3;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0px 10px;
}

@media screen and (max-width: 500px) {
    header {
        padding: 20px 0px;
        flex-direction: column;
    }

    header #menu {
        display: flex;
    }

    header > nav {
        display: none;
        text-align: center;
    }

    header nav a {
        padding: 10px;
    }

    header:focus-within > nav {
        display: flex;
        flex-direction: column;
    }

    input {
        width: 100%;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 20px;
}

.card {
    background: white;    
    border: 1px solid #d0ccd0;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card main {
    flex: 1;
}

.list {
    display: grid;
    grid-gap: 20px;
}
