[package]
name = "plume-models"
version = "0.2.0"
authors = ["Plume contributors"]

[dependencies]
activitypub = "0.1.1"
ammonia = "2.0.0"
askama_escape = "0.1"
bcrypt = "0.2"
canapi = "0.2"
guid-create = "0.1"
heck = "0.3.0"
itertools = "0.8.0"
lazy_static = "*"
openssl = "0.10.15"
rocket = "0.4.0"
rocket_i18n = { git = "https://github.com/Plume-org/rocket_i18n", rev = "cb3580b3f6af2fdc2f24e0fe13745f7ea3ccc784" }
reqwest = "0.9"
scheduled-thread-pool = "0.2.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
tantivy = "0.9.1"
url = "1.7"
webfinger = "0.3.1"
whatlang = "0.7.0"

[dependencies.chrono]
features = ["serde"]
version = "0.4"

[dependencies.diesel]
features = ["r2d2", "chrono"]
version = "1.3.2"

[dependencies.plume-api]
path = "../plume-api"

[dependencies.plume-common]
path = "../plume-common"

[dev-dependencies]
diesel_migrations = "1.3.0"

[features]
postgres = ["diesel/postgres"]
sqlite = ["diesel/sqlite"]
