<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock title %} ⋅ {{ "Plume" | _ }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />        
        <link rel="stylesheet" href="/static/main.css" />
        <link rel="stylesheet" href="/static/fontawesome-5.0.10/css/fontawesome-all.min.css" />
    </head>
    <body>
        <header>
            <nav id="menu"><a href="#">{{ "Menu" | _ }}</a></nav>
            <nav>
                <a href="/" class="title">{{ "Plume" | _ }}</a>
                <hr/>
                {% block header %}
                {% endblock header %}
            </nav>
            <nav>
                {% if account %}
                    <a href="/dashboard">{{ "Dashboard" | _ }}</a>
                    <a href="/notifications">{{ "Notifications" | _ }}</a>
                    <a href="/me">{{ "My account" | _ }}</a>
                    <a href="/logout">{{ "Log Out" | _ }}</a>
                {% else %}
                    <a href="/login">{{ "Log In" | _ }}</a>
                    <a href="/users/new">{{ "Register" | _ }}</a>
                {% endif %}
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            <span>Plume 0.1.0</span>
            <a href="https://github.com/Plume-org/Plume">{{ "Source code" | _ }}</a>
            <a href="https://riot.im/app/#/room/#funkwhale-troubleshooting:matrix.org">{{ "Matrix room" | _ }}</a>
            {% if account %}
                {% if account.is_admin %}
                    <a href="/admin">{{ "Administration" | _ }}</a>
                {% endif %}
            {% endif %}
        </footer>
    </body>
</html>
