<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %} ⋅ Plume</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
