{% macro post_card(article) %}
    <div>
        <h3><a href="{{ article.url }}">{{ article.post.title }}</a></h3>
        <p>{{ article.post.content | escape | truncate(length=200) }}…</p>
        <p>By <a href="/@/{{ article.author.fqn }}/">{{ article.author.display_name }}</a> ⋅ {{ article.date | date(format="%B %e") }}</p>
    </div>
{% endmacro post_card %}
