{% extends "base" %}

{% block title %}
Comment "{{ post.title }}"
{% endblock title %}

{% block content %}
<h1>Comment "{{ post.title }}"</h1>
<form method="post">
    <label for="content">Content</label>
    <textarea id="content" name="content"></textarea>
    <input type="submit" value="Comment" />
</form>
{% endblock content %}

