{% extends "base" %}

{% block title %}
{{ user.display_name }}
{% endblock title %}

{% block content %}
<h1>{{ user.display_name }}</h1>
<div>
    {{ user.summary | safe }}
</div>
{% endblock content %}
