@use templates::{base, partials::post_card, users::header};
@use template_utils::*;
@use plume_models::posts::Post;
@use plume_models::users::User;
@use routes::*;

@(ctx: BaseContext, user: User, follows: bool, is_remote: bool, remote_url: String, recents: Vec<Post>, reshares: Vec<Post>)

@:base(ctx, user.name(ctx.0), {}, {}, {
    @:header(ctx, &user, follows, is_remote, remote_url)

    @tabs(&[
        (&uri!(user::details: name= user.get_fqn(ctx.0)).to_string(), i18n!(ctx.1, "Articles"), true),
        (&uri!(user::followers: name = user.get_fqn(ctx.0), page = _).to_string(), i18n!(ctx.1, "Subscribers"), false),
        (&uri!(user::followed: name = user.get_fqn(ctx.0), page = _).to_string(), i18n!(ctx.1, "Subscriptions"), false)
    ])

    @if !recents.is_empty() {
    <div class="h-feed">
        <h2>
            <span class="p-name">@i18n!(ctx.1, "Latest articles")</span>
            <small><a href="@uri!(user::atom_feed: name = user.get_fqn(ctx.0))" title="@i18n!(ctx.1, "Atom feed")">@icon!("rss")</a></small>
        </h2>
        <div class="cards">
            @for article in recents {
                @:post_card(ctx, article)
            }
        </div>
    </div>
    }

    @if !reshares.is_empty() {
    <div class="h-feed">
        <h2 class="p-name">@i18n!(ctx.1, "Recently boosted")</h2>
        <div class="cards">
            @for article in reshares {
                @:post_card(ctx, article)
            }
        </div>
    </div>
    }
})
