@use crate::templates::{base, partials::post_card, users::header};
@use crate::template_utils::*;
@use crate::plume_models::instance::Instance;
@use crate::plume_models::users::User;
@use crate::plume_models::posts::Post;
@use crate::routes::*;

@(ctx: BaseContext, user: User, follows: bool, is_remote: bool, remote_url: String, recents: Vec<Post>, reshares: Vec<Post>)

@:base(ctx, user.name(), {
	<meta content="profile" property="og:type" />
	<meta content="120" property="og:image:width" />
	<meta content="120" property="og:image:height" />
	<meta content="summary" property="twitter:card" />
	<meta content="'@Instance::get_local(ctx.0).unwrap().name" property="og:site_name" />
	<meta content="@user.ap_url" property="og:url" />
	<meta content="@user.display_name" property="profile:username" />
	<meta content="@user.display_name's Blog" property="og:title" />
	<meta content="@user.summary_html" name="description">
	<meta content="@user.summary_html" property="og:description" />
	<meta content="@user.avatar_url(ctx.0)" property="og:image" />

	<link href='@Instance::get_local(ctx.0).unwrap().compute_box("@", &user.fqn, "atom.xml")' rel='alternate' type='application/atom+xml'>
	<link href='@user.ap_url' rel='alternate' type='application/activity+json'>
}, {}, {
    @:header(ctx, &user, follows, is_remote, remote_url)

    @tabs(&[
        (&uri!(user::details: name = &user.fqn).to_string(), i18n!(ctx.1, "Articles"), true),
        (&uri!(user::followers: name = &user.fqn, page = _).to_string(), i18n!(ctx.1, "Subscribers"), false),
        (&uri!(user::followed: name = &user.fqn, page = _).to_string(), i18n!(ctx.1, "Subscriptions"), false)
    ])

    @if !recents.is_empty() {
    <div class="h-feed">
        <h2>
            <span class="p-name">@i18n!(ctx.1, "Latest articles")</span>
            <small><a href="@uri!(user::atom_feed: name = &user.fqn)" title="@i18n!(ctx.1, "Atom feed")">@icon!("rss")</a></small>
        </h2>
        <div class="cards">
            @for article in recents {
                @:post_card(ctx, article)
            }
        </div>
    </div>
    }

    @if !reshares.is_empty() {
    <div class="h-feed">
        <h2 class="p-name">@i18n!(ctx.1, "Recently boosted")</h2>
        <div class="cards">
            @for article in reshares {
                @:post_card(ctx, article)
            }
        </div>
    </div>
    }
})
