@use templates::remote_interact_base;
@use plume_models::users::User;
@use routes::RemoteForm;
@use routes::session::LoginForm;
@use template_utils::*;
@use validator::ValidationErrors;

@(ctx: BaseContext, user: User, login_form: LoginForm, login_errs: ValidationErrors, remote_form: RemoteForm, remote_errs: ValidationErrors)

@:remote_interact_base(ctx, i18n!(ctx.1, "Follow {}"; user.name()), i18n!(ctx.1, "Log in to follow"), i18n!(ctx.1, "Enter your full username handle to follow"), {
	<h1>@i18n!(ctx.1, "Follow {}"; user.name())</h1>
	@avatar(ctx.0, &user, Size::Medium, false, ctx.1)
	<small>@@@user.fqn</small>
}, login_form, login_errs, remote_form, remote_errs)
